/*Body content, don't mess this */
html,body {
  margin: 0;
}

body {
  background: rgb(53, 53, 53);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1:after {
  content:' ';
  display:block;
  border:1px solid white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Used to hide the sidebar and the sidebarOpen button */
.hidden{
  display: none;
}

.button{
  color: white;
  background-color: maroon;
  font-weight: bold;
  text-align: center;
  padding: 16px;
}

.button:hover{
  background-color: rgb(119, 64, 64);
}

/* Sidebar links */
.sidebar a, .sidebar .button {
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: maroon;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}